asgiref==3.8.1
beautifulsoup4==4.12.3
cachetools==5.3.3
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
Django==5.0.4
django-cors-headers==4.3.1
docx2txt==0.8
elastic-transport==8.13.0
elasticsearch==8.13.0
google-api-core==2.18.0
google-auth==2.29.0
google-cloud-vision==3.7.2
googleapis-common-protos==1.63.0
grpcio==1.62.2
grpcio-status==1.62.2
idna==3.7
joblib==1.4.0
nltk==3.8.1
proto-plus==1.23.0
protobuf==4.25.3
pyasn1==0.6.0
pyasn1_modules==0.4.0
pypdf==4.2.0
python-dotenv==1.0.1
python-magic==0.4.27
regex==2024.4.16
requests==2.31.0
rsa==4.9
soupsieve==2.5
sqlparse==0.5.0
tqdm==4.66.2
urllib3==2.2.1
uuid==1.30
